<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css" integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />

<app-navbar></app-navbar>
<div class="container" id="main-container">

    <div class="ml-5 mb-4">
        <table class="table bordeless">
           <tr>
              <td>
                 <label for="exampleInputEmail1">Genre Id</label>
                 <input style="width: 60%;" class="form-control" type="search" name="key" (ngModelChange)="searchGenreId(key.value)" #key="ngModel" ngModel aria-describedby="emailHelp"
                    placeholder="Filter by Genre Id">
              </td>
              <td>
                 <label for="exampleInputEmail1">Genre Name</label>
                 <input style="width: 60%;" class="form-control" type="search" name="key2" (ngModelChange)="searchGenreName(key2.value)" #key2="ngModel" ngModel aria-describedby="emailHelp"
                    placeholder="Filter by Genre Name">
              </td>
           </tr>
        </table>
     </div>
    <div class="row align-items-center mr-5">
        <div class="col-md-6">
            <div class="mb-3">
                <h5 class="card-title">Genre List </h5>
            </div>
        </div>
        <div class="col-md-6 ">
            <div class="d-flex flex-wrap align-items-center justify-content-end gap-2  mr-5">
                <div class="mr-5">
                </div>
                <div>
                    <a (click)="onOpenModal(null, 'add')" data-bs-toggle="modal" data-bs-target=".add-new" class="btn btn-primary"><i class="bx bx-plus me-1"></i> Add New</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <div class="">
                <div class="table-responsive">
                    <table class="table project-list-table table-nowrap align-middle table-borderless">
                        <thead>
                            <tr>
                                <th scope="col">Genre ID</th>
                                <th scope="col" >Genre Name</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let genre of genres">
                                <td><span class="badge badge-soft-success mb-0 ">{{genre.genreId}}</span></td>
                                <td class="">{{genre.genreName}}</td>
                                <td>
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a (click)="onOpenModal(genre, 'edit')" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="px-2 text-primary"><i class="bx bx-pencil font-size-18"></i></a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a (click)="onOpenModal(genre, 'delete')" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="px-2 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                                        </li>
                                        <li class="list-inline-item dropdown">
                                            <a class="text-muted dropdown-toggle font-size-18 px-2" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true"><i class="bx bx-dots-vertical-rounded"></i></a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

     <!-- add module-->
 <div class="modal fade in" id="addGenreModal" tabindex="-1" role="dialog" aria-labelledby="addGenreModalLabel"
 aria-hidden="true">
 <div class="modal-dialog" role="document">
    <div class="modal-content">
       <div class="modal-header">
          <h5 class="modal-title" id="addGenreModalLabel">Add Genre</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
          </button>
       </div>
       <div class="modal-body">

          <form [formGroup]="addGenreForm" (ngSubmit)="addGenre()">

             <div class="form-group">
                <label for="name">Genre Name</label>
                <input type="text" name="genreName" class="form-control" id="genreName" placeholder="Genre Name"
                   formControlName="genreName" required>
             </div>

             <!-- use this for description -->
             <!-- <div class="form-group">
                <label for="email">First Name</label>
                <input type="email" name="firstName" class="form-control" id="firstName" placeholder="firstName"
                   formControlName="firstName" required>
             </div> -->

             <div class="modal-footer">
                <button type="button" id="add-genre-form" class="btn btn-secondary"
                   data-dismiss="modal">Close</button>
                <button [disabled]="addGenreForm.invalid" type="submit" class="btn btn-primary">Save
                   changes</button>
             </div>
          </form>
       </div>
    </div>
 </div>
</div>
<!-- edit modal -->
<div class="modal fade in" id="UpdateGenreModal" tabindex="-1" role="dialog" aria-labelledby="genreEditModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="UpdateGenreModalLabel">Edit Genre {{editGenre?.genreName}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form [formGroup]="editGenreForm" (ngSubmit)="updateGenre()">
                <input type="hidden" name="genreId" class="form-control" id="id" placeholder="genreId"
                formControlName="genreId" ngModel="{{editGenre?.genreId}}">

                <div class="form-group">
                   <label for="name">Genre Name</label>
                   <input type="text" name="genreName" class="form-control" id="genreName" aria-describedby="emailHelp"
                      placeholder="Genre Name" formControlName="genreName" ngModel="{{editGenre?.genreName}}">
                </div>
                <!-- for description -->
                <!-- <div class="form-group">
                    <label for="name">First Name</label>
                    <input type="text" name="firstName" class="form-control" id="firstName" aria-describedby="emailHelp"
                       placeholder="firstName" formControlName="firstName" ngModel="{{editGenre?.genreName}}">
                 </div> -->
                <div class="modal-footer">
                   <button type="button" id="update-genre-form" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button [disabled]="editGenreForm.invalid" type="submit" class="btn btn-primary">Save
                      changes</button>
                </div>

             </form>
          </div>
       </div>
    </div>
 </div>
   <!-- Delete Modal -->
   <div class="modal fade in" id="deleteGenreModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="deleteModelLabel">Delete Genre</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <p>Are you sure you want to delete genre {{deleteGenre?.genreName}}</p>
               <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <button (click)="onDeleteGenre(deleteGenre?.genreId)" class="btn btn-danger"
                     data-dismiss="modal">Yes</button>
               </div>
            </div>
         </div>
      </div>
   </div>


</div>
