<!-- Selected value: {{SelectedValue}} -->



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" style="color:white;">Book Manager</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
            <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Book <span class="sr-only">(current)</span></a>
         </li>
      </ul>
   </div>
</nav>

<div class="container" id="main-container">
   <div class="row d-flex justify-content-center">
      <div *ngFor="let book of books" class="col-md-3">
         <div class="ibox">
            <div class="ibox-content product-box">
               <div class="product-imitation">
                  <img src={{book.imgUrl}} alt=" image" class="rounded mx-auto d-block">
               </div>
               <div class="product-desc">
                  <span class="product-price">
                     {{book.isRented}}
                  </span>
                  <small class="text-muted">{{book.genre}}</small>
                  <a href="#" class="product-name">{{book.bookName}}</a>
                  <small class="text-muted">Author: {{book.author}}</small>
                  <div class="small m-t-xs">
                     {{book.description}}
                  </div>
                  <p></p>
                  <form #assignClientForm="ngForm" (ngSubmit)="AssignClientToBook(assignClientForm)">
                     <div class="mt-10 ">
                        <div class="col-sm-15">
                           <select name="Client" (change)="ChangeBook($event)" class="form-control">
                              <option value="">Search Client</option>
                              <option [value]="client.clientId" *ngFor="let client of ClientList">
                                 {{client.clientId}} | {{client.name.firstName}} {{client.name.lastName}}
                              </option>
                              
                              <!-- <p  >{{SelectedValue}}</p>
                              <p ngModel >{{book.bookId}}</p> -->
                           </select>
                        </div>
                        <input type="hidden" ngModel="{{SelectedValue}}" name="clientId" class="form-control" id="clientId" placeholder="clientId" value="">
                        <input type="hidden" ngModel="{{book.bookId}}" name="bookId" class="form-control" id="bookId" placeholder="{{book.bookId}}" value="{{book.bookId}}">
                        <!-- <p ngModel name="clientId">{{SelectedValue}}</p> -->
                         <!-- <p ngModel name="bookId">{{book.bookId}}</p>  -->
                     </div>
                     <div class="d-flex justify-content-center">
                        <div class="modal-footer">
                           <button  type="submit" class="btn btn-primary">Assign
                              Client</button>
                        </div>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- add module-->
   <div class="modal fade" id="addBookModal" tabindex="-1" role="dialog" aria-labelledby="addBookModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="addBookModalLabel">Add Book</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
               </button>
            </div>
            <div class="modal-body">
               <form #addForm="ngForm" (ngSubmit)="onAddBook(addForm)">
                  <div class="form-group">
                     <label for="name">bookId</label>
                     <input type="text" ngModel name="bookId" class="form-control" id="bookId" placeholder="bookId"
                        required>
                  </div>
                  <div class="form-group">
                     <label for="email">Book Name</label>
                     <input type="email" ngModel name="bookName" class="form-control" id="bookName"
                        placeholder="bookName" required>
                  </div>
                  <div class="form-group">
                     <label for="phone">Book Genre</label>
                     <input type="text" ngModel name="genre" class="form-control" id="genre" placeholder="genre"
                        required>
                  </div>
                  <div class="form-group">
                     <label for="phone">Book Author</label>
                     <input type="text" ngModel name="author" class="form-control" id="author" placeholder="author"
                        required>
                  </div>
                  <div class="form-group">
                     <label for="phone">Book Description</label>
                     <input type="text" ngModel name="description" class="form-control" id="description"
                        placeholder="description" required>
                  </div>
                  <div class="form-group">
                     <label for="phone">Is borrowed</label>
                     <input type="text" ngModel name="isRented" class="form-control" id="isRented"
                        placeholder="is Book borrowed" required>
                  </div>
                  <div class="form-group">
                     <label for="phone">Image URL</label>
                     <input type="text" ngModel name="imgUrl" class="form-control" id="imgUrl" placeholder="Image URL"
                        required>
                  </div>
                  <div class="modal-footer">
                     <button type="button" id="add-book-form" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                     <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>
<div *ngFor="let client of clients">
   <div>{{client.clientId}}</div>
</div>