
.table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.table td, th {
  border: 2px solid #22378d;
  text-align: left;
  padding: 8px;
}

.editBtn{
  color: green;
  cursor: pointer;
}
.deleteBtn{
  color: red;
  cursor: pointer;
}
.bookImg{
  width: 40px;
  height: 40px;
}
