<label for="clients">Choose a client:</label>

  <select name="clients" id="clients"   >
    <option [value]="item?.clientId" (click)="getClientBooksByClient(item)" *ngFor="let item of clients" >{{item?.name?.firstName}} {{item?.name?.middleName}}  {{item?.name?.lastName }}</option>
  </select>


<table class="table">
    <tr>
      <th>Image</th>
      <th>Book</th>
      <th>Client</th>
      <th>Date Ordered</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let item of clientBooks">
      <td>{{item?.books?.imgUrl}}</td>
      <td>{{item?.books?.bookName}}</td>
      <td>{{item?.clients?.name?.firstName}}{{item?.clients?.name?.middleName}}{{item?.clients?.name?.lastName}}</td>
      <td>{{item?.dateOrdered}}</td>
      <td><span class="editBtn">edit</span>&nbsp;<span color="deleteBtn">delete</span></td>

    </tr>

  </table>


