<div class="banner">
  <div class="navbar">
    <a href="/home">
    <img src="../../assets/cput_logo.png" class="logo" alt="Logo" />
    </a>
    <ul>
      <li><a [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a></li>
      <li><a [routerLink]="['/book']" routerLinkActive="router-link-active" >Books</a></li>
      <li><a [routerLink]="['/client']" routerLinkActive="router-link-active" >Clients</a></li>
      <li><a [routerLink]="['/home/client-books']" routerLinkActive="router-link-active" >Client Books</a></li>
    </ul>
  </div>

  <div class="content" *ngIf="router.url == '/home'">
    <h1>LIBRARY MANAGEMENT SYSTEM</h1>
    <p>Add,edit, and view available books, librarians and clients</p>
  </div>
  <main class="outlet">
    <router-outlet></router-outlet>
  </main>

</div>
